# RStudio files
.Rproj.user/*
.Rproj.user/
.Rhistory
.RData
.Ruserdata

.pper

# macOS files
.DS_Store
.DS_Store
.DS_Store
*.pper
.Rproj.user/E419857C/pcs/files-pane.pper
.Rproj.user/E419857C/pcs/source-pane.pper
.Rproj.user/E419857C/pcs/source-window.pper
.Rproj.user/E419857C/sources/prop/INDEX
.Rproj.user/shared/notebooks/paths
TCR_Explore.Rproj
